:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --yellow: hsl(53, 93%, 54%);
  --blue: hsl(212, 100%, 48%);
  --light-blue: hsl(200, 100%, 95%);
  --gray: hsl(0, 0%, 40%);
  --light-gray: hsl(0, 0%, 68%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

footer {
  padding: 1rem 0;
}

pre {
  background-color: var(--black);
  color: var(--white);
  padding: 1rem;
  border-radius: .5rem;
  white-space: pre-wrap;
  word-break: break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 1.8;
}

p > code {
  background-color: var(--light-blue);
  padding: .1rem;
  border-radius: .3rem;
  box-shadow: 1px 1px 1px;
}

blockquote {
  padding: 0 1rem;
  margin: 0 1rem;
  color: var(--gray);
  border-left: .3rem solid var(--light-gray);
}